/**
 * Base
 */

body {
	@include sans-serif() ;
	color: $default_font_color;
	font-size: $font_size;
	line-height: $line_height;
	min-height: calc( 100vh - #{$header_height} - #{$footer_height} );
	background: $background_color;
}

main {
	min-height: calc( 100vh - #{$header_height} - #{$footer_height} );
	padding-top: $quintuple_space;
	padding-bottom: $quintuple_space;

	.container,
	.container-fluid {
		position: relative;
		z-index: 100;
	}

	.main__background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		opacity: 0.15;
		z-index: 50;
	}
}

img {
	max-width: 100%;
	height: auto;
}

hr {
	width: 100%;
	height: 1px;
	display: block;
	clear: both;
}

