/**
 * Typography
 */

#app {

	.h1,
	h1 {
		font-weight: 800;
		text-transform: uppercase;
	}

	.h2,
	h2 {

	}

	.h3,
	h3 {

	}

	.h4,
	h4 {

	}

	.h5,
	h5 {

	}

	p {

	}

	a {
		color: $orange
	}
}
