/**
 * Contact
 */

body.body__contact {

	#app {
		height: 1px;

		.container,
		.container .row,
		.container .row [class^='col-'] {
			height: 100%;
		}

		.container .row [class^='col-'] {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			h1 {
				margin-bottom: $double_space;
			}

			p {
				font-size: 20px;
				margin-bottom: 10px;
			}

			a {
				color: $dark;
				font-weight: bold;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.main__background-image {
			background: url( '/img/sundown-boulevard-2.jpg' ) no-repeat 0 0;
		}
	}
}
