/**
 * Reserve table-styles
 */

body.body__reserve-table {

	span.btn {
		display: inline-block;
		cursor: pointer;

		&:hover {
			cursor: pointer;
		}
	}

	.reserve-table__screen {
		opacity: 0;
		transition: all 0.2s;
		transform: translateX( -100px );
		position: absolute;
		top: 0;
		left: 0;
		visibility: hidden;
	}

	.reserve-table__screen__active {
		opacity: 1 !important;
		transform: translateX( 0px ) !important;
		visibility: visible !important;
	}

	.reserve-table__row {
		position: relative;
	}

	#app {
		position:relative;

		.main__background-image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url( '/img/sundown-boulevard-2.jpg' ) no-repeat 0 0;
			background-size: cover;
			opacity: 0.15;
		}
	}

}
