/**
 * Backend styles (general stuff)
 */

body.body__admin {
	min-height: calc( 100vh - #{$header_height} - #{$footer_height} + 56px );

	main {
		min-height: calc( 100vh - #{$header_height} - #{$footer_height} + 56px );
	}

	.header {
		background: $bluegrey;

		.logo {
			height: 50px;
		}

		ul li > a {
			color: $white;
		}
	}

	.admin-subheader__outer-container {
		background: lighten( $bluegrey, 20% );
		padding-top: 10px;
		padding-bottom: 10px;
		position: relative;
		z-index: 100;

		ul {
			width: 100%;
			margin-left: auto;
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			margin-bottom: 0;
			padding-bottom: 0;

			li {
				list-style: none;
				margin-right: 30px;

				&:last-child {
					margin-right: 0;
				}

				a {
					color: $white;
					text-transform: uppercase;
				}
			}
		}
	}
}
