/**
 * Footer
 */

.footer {
	color: $dark;
	background: $white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	position: relative;
	z-index: 4000;

	p,
	a {
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	p {
		color: $dark;
	}

	a {
		color: $orange;
		transition: all 0.2s;

		&:hover {
			color: darken( $orange, 50% );
		}
	}
}
