/**
 * Header
 */

.header {
	padding-top: 10px;
	padding-bottom: 10px;
	background: $beige;
	position: relative;
	z-index: 2000;

	.logo {
		height: 106px;
		width: auto;
		display: block;

		img {
			height: 100%;
			display: block;
			width: auto;
		}
	}

	.navbar-nav {

		li {
			margin-right: 20px;

			&:last-child {
				margin-right: 0;
			}

			a {
				color: $dark;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
			}

			&.nav-item__dashboard {
				margin-left: 50px;
			}
		}
	}

	.dropdown-menu {
		z-index: 3000;
	}
}

