<template>
	<div class="row">
		<div class="col-12">
			<form method="post" action="/reservations">
				<slot></slot>
				<div class="row reserve-table__row">
					<div :class="['col-12 reserve-table__screen', { 'reserve-table__screen__active' : screen === 'information'}]" :key="1">
						<div class="row">

							<div class="col-4">
								<div class="form-group">
									<label for="name">Name</label>
									<input class="form-control" type="text" name="name" id="name" placeholder="Name">
								</div>
								<!-- /.form-group -->
							</div>
							<!-- /.col-4 -->
							<div class="col-4">
								<div class="form-group">
									<label for="email">Email</label>
									<input class="form-control" type="text" name="email" id="email" placeholder="Email">
								</div>
								<!-- /.form-group -->
							</div>
							<!-- /.col-4 -->
							<div class="col-4">
								<div class="form-group">
									<label for="phone">Phone</label>
									<input class="form-control" type="text" name="phone" id="phone" placeholder="Phone">
								</div>
								<!-- /.form-group -->
							</div>
							<!-- /.col-4 -->
							<div class="col-4 mt-3">
								<div class="form-group">
									<label for="date">Date</label>
									<flat-pickr
										class="form-control"
										id="date"
										name="date"
										v-model="date"
										:config="config"
										:ref="'theDatepicker'"
									></flat-pickr>
								</div>
								<!-- /.form-group -->
							</div>
							<!-- /.col-6 -->
							<div class="col-4 mt-3">
								<label for="time">Time</label>
								<select class="form-control" name="time" id="time">
									<option value="16">16:00</option>
									<option value="18">18:00</option>
									<option value="20">20:00</option>
								</select>
								<!-- /select -->
							</div>
							<!-- /.col-3 -->
							<div class="col-4 mt-3">
								<label for="seats">Number of people</label>
								<select class="form-control" name="seats" id="seats">
									<option :value="number" v-for="number in this.seats" :key="number">{{ number }}</option>
								</select>
								<!-- /select -->
							</div>
							<!-- /.col-3 -->
							<div class="col-12">
								<span @click="changeScreen( 'dish' )" class="ml-auto btn btn-primary">
									Next
								</span>
							</div>
							<!-- /.col-12 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.col-12 -->



					<div :class="['col-12 reserve-table__screen', { 'reserve-table__screen__active' : screen === 'dish'}]">
						<div class="row">

							<div class="col-12" v-if="dish === null">
								<p style="font-style: italic;">Drinks are being loaded...</p>
							</div>
							<!-- /.col-12 -->
							<div class="col-12" v-else>
								<p>The dish that has been selected for you is:</p>
								<input class="form-control mb-3" type="text" name="dish" :value="dish" readonly>
							</div>
							<!-- /.col-12 -->

							<div class="col-12">
								<span @click="changeScreen( 'information' )" class="mr-auto btn btn-primary">
									Back
								</span>

								<span @click="changeScreen( 'drinks' )" class="ml-auto btn btn-primary">
									Next
								</span>
							</div>
							<!-- /.col-12 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.col-12 -->



					<div :class="['col-12 reserve-table__screen', { 'reserve-table__screen__active' : screen === 'drinks'}]">
						<div class="row">

							<div class="col-12" v-if="drinks === null">
								<p style="font-style: italic;">Drinks are being loaded...</p>
							</div>
							<!-- /.col-12 -->
							<div class="col-12" v-else>
								<label for="drinks">Drinks</label>
								<select class="form-control mb-3" name="drinks" id="drinks">
									<option v-for="drink in drinks">{{ drink.name }}</option>
								</select>
								<!-- /select -->
							</div>
							<!-- /.col-12 -->
							<div class="col-12">
								<span @click="changeScreen( 'dish' )" class="mr-auto btn btn-primary">
									Back
								</span>

								<input type="submit" value="Send reservation" class="btn btn-success">
							</div>
							<!-- /.col-12 -->
						</div>
						<!-- /.row -->
					</div>
					<!-- /.col-12 -->
				</div>
				<!-- /.row -->

			</form>
		</div>
	</div>
</template>

<script>
	import flatPickr from 'vue-flatpickr-component';
	import moment from 'moment';
	import axios from 'axios';
	// import VueAxios from 'vue-axios';

	export default {
		mounted() {
			this.seats = this.numberOfTables * 2;

			let now = this.$moment(new Date());
			if (now.format('H') > 19) {
				this.date = now.add(1, 'days').toDate();
			} else {
				this.date = new Date();
			}
		},
		components: {
			flatPickr,
			moment
		},
		props: {
			numberOfTables: Number
		},
		data() {
			return {
				date: null,
				config: {
					dateFormat: 'Y-m-d',
					inline: true
				},
				timeslots: null,
				screen: 'information',
				seats: 0,
				drinks: null,
				dish: null
			}
		},
		watch: {
			date: function () {
				axios.get('/api/reservations/' + this.date).then((response) => {
						this.timeslots = response.data;
						let allReservations = JSON.parse(response.request.response);
						if (allReservations !== 'undefined') {
							allReservations = allReservations.reservations;
						}
						// Object.keys(allReservations).forEach((index) => {
						// 	console.log(allReservations[index]);
						// });
					}
				);
			},
			screen: function() {
				if( this.screen === 'dish'){
					axios.get('https://www.themealdb.com/api/json/v1/1/random.php').then((response) => {
							let tempDishResponse = JSON.parse( response.request.response );
							this.dish = tempDishResponse.meals[0].strMeal;
						}
					);
				} else if( this.screen === 'drinks' ){
					axios.get('https://api.punkapi.com/v2/beers').then((response) => {
							this.drinks = JSON.parse( response.request.response );
						}
					);
				}
			}

		},
		methods: {
			onSubmit: function () {
				console.log('Reservation sent');
			},
			changeScreen: function (screenName) {
				this.screen = screenName
			}
		}
	}
</script>
