<template>
	<div>
		<table class="table table-sm table-dark">
			<thead>
			<tr>
				<th>Date</th>
				<th>Seats</th>
				<th>Customer ID</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Name</th>
				<th>Dish</th>
				<th>Drinks</th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="reservation in pastReservations">
				<td>{{ reservation.reservation_start }}</td>
				<td>{{ reservation.amount_of_seats }}</td>
				<td>{{ reservation.customer_id }}</td>
				<td>{{ reservation.customer.email }}</td>
				<td>{{ reservation.customer.name }}</td>
				<td>{{ reservation.customer.phone }}</td>
				<td>{{ reservation.dishes_of_choice }}</td>
				<td>{{ reservation.drinks_of_choice }}</td>
			</tr>
			</tbody>
		</table>
		<!-- /.table table-sm -->
	</div>
</template>

<script>
	import flatPickr from 'vue-flatpickr-component';
	import moment from 'moment';
	import axios from 'axios';
	export default {
		mounted() {
			console.log('Component mounted.');

			axios.get('/api/past-reservations').then((response) => {
				this.timeslots = response.data;
				let allPastReservations = JSON.parse(response.request.response);
				if (allPastReservations !== 'undefined') {
					allPastReservations = allPastReservations.reservations;
				}
				this.pastReservations = allPastReservations;
			});
		},
		components: {
			flatPickr,
			moment
		},
		data() {
			return {
				pastReservations: null
			}
		}
	}
</script>
