/**
 * Mixins
 */

// Fonts
@mixin sans-serif {
	font-family: 'Open Sans', sans-serif;
}

@mixin serif {
	font-family: serif;
}


// Clear
@mixin clearfix {
	display: block;
	zoom: 1;

	&:after {
		content: ' ';
		display: block;
		font-size: 0;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}


// http://codepen.io/eduardoboucas/pen/YXxmwv
// 1vw = 1% of viewport
@mixin vw($responsive, $min, $max: false, $fallback: false, $attribute: 'font-size') {
	$responsive-unitless: $responsive / ($responsive - $responsive + 1);
	$dimension: if(unit($responsive) == 'vh', 'height', 'width');
	$min-breakpoint: $min / $responsive-unitless * 100;

	@media (max-#{$dimension}: #{$min-breakpoint}) {
		#{$attribute}: $min;
	}

	@if $max {
		$max-breakpoint: $max / $responsive-unitless * 100;

		@media (min-#{$dimension}: #{$max-breakpoint}) {
			#{$attribute}: $max;
		}
	}

	@if $fallback {
		#{$attribute}: $fallback;
	}
	#{$attribute}: $responsive;
}



/*
 * Object-fit-images
 *
 * Source: https://github.com/bfred-it/object-fit-images
 *
 * This mixin can be used to set the object-fit:
 * @include object-fit(contain);
 * or object-fit and object-position:
 * @include object-fit(cover, top);
*/
@mixin object-fit($fit: fill, $position: null){
	-o-object-fit: $fit;
	object-fit: $fit;
	@if $position {
		-o-object-position: $position;
		object-position: $position;
		font-family: 'object-fit: #{$fit}; object-position: #{$position}';
	} @else {
		font-family: 'object-fit: #{$fit}';
	}
}


/**
 * Transitions
 */
@mixin transitions( $type: standard ) {
	@if $type == 'standard' {
		transition: all 0.3s;
	} @else {
		transition: all 2s;
	}
}


/**
 * Adjust for the admin bar, if logged in
 */
@mixin admin_bar_adjuster( $property, $value, $add_or_subtract: add ){

	@if $add_or_subtract == add {
		#{$property}: $value;

		body.admin-bar & {
			#{$property}: calc( #{$value} + 32px );

			@media screen and (max-width: 783px) {
				#{$property}: calc( #{$value} + 46px );
			}
		}
	} @else {
		#{$property}: $value;

		body.admin-bar & {
			#{$property}: calc( #{$value} - 32px );

			@media screen and (max-width: 783px) {
				#{$property}: calc( #{$value} - 46px );
			}
		}
	}
}



// Adjust for the admin bar, if logged in
@mixin header_adjuster( $property, $value, $add_or_subtract: add ){

	@if $add_or_subtract == add {
		#{$property}: calc( #{$value} + #{$header_height} );
	} @else {
		#{$property}: calc( #{$value} - #{$header_height} );
	}
}



/**
 * Text-decoration
 */
@mixin fancy-text-decoration( $underline_color: '#000000', $no_hover_opacity: 1, $hover_opacity: 0, $transition_duration: '0.2s' ){
	text-decoration-skip: ink;
	text-decoration: underline;
	text-decoration-color: rgba( $underline_color, $no_hover_opacity );
	transition: all 0.2s;

	&:hover {
		text-decoration-color: rgba( $underline_color, $hover_opacity );
	}
}

