/**
 * Variables
 */

// Colors
$white: #FFFFFF;
$black: #000000;

$light: #FFFFFF;
$dark: #252525;

$light_grey: #d7d7d7;
$light_grey_2: #a3a3a3;

$bluegrey: #696D7D;

$beige: #F9F3D0;
$orange: #FD6529;
$green: #629677;


// Standard
$default_font_color: $dark;
$font_size: 14px;
$line_height: 140%;
$background_color: $beige;

$space: 20px;
$half_space: calc( #{$space} * 0.5 );
$double_space: calc( #{$space} * 2 );
$triple_space: calc( #{$space} * 3 );
$quadruple_space: calc( #{$space} * 4 );
$quintuple_space: calc( #{$space} * 5 );
$sextuple_space: calc( #{$space} * 6 );


$header_height: calc( 142px );
$footer_height: 39px;
